table {
    border-style: solid;
    font-size: 180%;
    width: 1800px;
    height: 800px;
    background-color: rgb(220, 216, 221);
}

img {
    border: 5px solid red;
}

td, tr{
    border-style: solid;
}


#sidebar {
    width: 120px;
}

#center {
    text-align: center;
}